page-transaction {
    ion-card-header{
        background-color: blue;
        color:green;
    }
    .card .list {
        //border-bottom: 1px solid black;
        //color : white;
    }
    ion-card-content{
        //background-color: black;
    }
    .card{
        border-radius: 15px;
        background: #99FF00;
        margin-bottom: 26px;
    } 
}
